@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');



* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 119, 187);
}

header {
    border-bottom: 4px solid black;
    background-color: white;
    text-align: center;
}

h1 {
    font-family:'Righteous', cursive;
    font-size: 3em;
    font-weight: 100;
    display: inline-block;
    padding: 18px 0px 18px 0px;
}

p#blog {
    display: inline-block;
}

main {
    padding: 30px 20px 0px 20px;
}

section#contato {
    margin: auto;
    max-width: 400px;
    text-align: center;
    margin-bottom: 30px;
}

#contato > a {
    font-weight: 800;
    margin: 8px;
    text-decoration: none;
    color: rgb(74,222,128);
    background-color: white;
    padding: 8px;
    font-size: 1.15em;
    border: 1px solid black;
    border-radius: 5px;
    filter: drop-shadow(5px 5px 0 rgb(0 0 0 / 1));

}

#contato > a:hover {
    background-color: rgb(74,222,128);
    transition: 0.5s;
    animation-duration: 0.5s;
    color: white;
}

div#welcome {
    background-color: #ff7878;
    filter: drop-shadow(5px 5px 0 rgb(0 0 0 / 1));
    border: 3px solid black;
    border-radius: 10px;
    margin: auto;
    padding: 20px;
    max-width: 700px;
}

section#posts {
    text-align: center;
    background-color: #2DD4BF;
    filter: drop-shadow(5px 5px 0 rgb(0 0 0 / 1));
    border: 3px solid black;
    border-radius: 10px;
    margin-top: 30px;
    padding: 10px;
}

div.card {
    display: inline-block;
    margin: 15px;
    background-color: white;
    filter: drop-shadow(5px 5px 0 rgb(0 0 0 / 1));
    border: 3px solid black;
    border-radius: 10px;
    text-align: left;
}

.button-welcome {
    background-color: white;
    border-radius: 0px;
    border: 2px solid black;
    filter: drop-shadow(5px 5px 0 rgb(0 0 0 / 1));
    color: black;
    padding: 5px 35px;
    transition: 0.5s;
    animation-duration: 0.5s;
}

.button-welcome:hover {
    background-color: yellow;
}

.buttonpost {
    background-color: white;
    border-radius: 0px;
    border: 2px solid black;
    filter: drop-shadow(5px 5px 0 rgb(0 0 0 / 1));
    color: black;
    padding: 5px 35px;
    transition: 0.5s;
    animation-duration: 0.5s;
}

.buttonpost:hover {
    background-color: greenyellow;
}




footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 20px;
    margin-top: 30px;
}