@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');



* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2DD4BF;
}

section {
    border-bottom: 4px solid black;
    background-color: white;
    text-align: center;
}

h1 {
    font-family:'Righteous', cursive;
    font-size: 3em;
    font-weight: 100;
    display: inline-block;
    padding: 18px 0px 18px 18px;
}

p {
    display: inline-block;
}

div {
    margin: 35px 25px 0px 25px ;
    background-color: #e76d39;
    width: 700px;
    min-width: 350px;
    min-height: 300px;
    border: 4px solid black;
    border-radius: 5px;
    filter: drop-shadow(7px 7px 0 rgb(0 0 0 / 1));
    display: inline-flex;
    text-align: left;
}

main {
    text-align: center;
    min-width: 270px;
}

div#um {
    min-height: 300px;
    width: 480px;
    min-width: 270px;
    background-color: #e9bc1c;
}

div#dois {
    width: 1240px;
    min-width: 270px;
    background-color: #D442CF;
}

h2 {
    padding: 50px;
    font-size: 2.5em;
}