@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');



header {
    border-bottom: 4px solid black;
    background-color: white;
    text-align: center;
}

h1#title {
    font-family:'Righteous', cursive;
    font-size: 3em;
    font-weight: 100;
    display: inline-block;
    padding: 18px 0px 18px 18px;
}

p#blog {
    display: inline-block;
}

a.voltar {
    text-decoration: underline;
    color: black;
    margin: 25px auto 20px auto;
}

a {
    text-decoration: none;
}

p.details {
    color: #A2A4BC;
    margin-bottom: 30px;
    padding-top: 20px;
}

p.lead {
    font-size: 1.2em;
}


main {
    margin: auto;
    max-width: 1000px;
}

article {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    margin-top: 50px;
    padding: 10px;
}